# Игнорирование специфичных файлов IDE, в данном случае Visual Studio Code
.vscode/

# Игнорируется каталог tmp
tmp/

# Игнорируется каталог copy
copy/

# Игнорируются все файлы .docx
*.docx

# Игнорируются все файлы отслеживания процессов
*.log
